
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,800|Roboto:400,100,300,500,700,900|Bitter:400,700|Lobster);

/* minified normalize */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body {
  background-color: #deded4;
}

/* HEADER */

.masthead {
  padding: 0;
  text-align: center;
  margin: 0;
}

.main-nav {
  padding: 100px 0;
}

.main-nav a {
  text-decoration: none;
}

.main-nav .logo {
  font-family: 'Lobster';
  font-size: 72px;
  font-weight: 400;
}

.main-nav .subtitle {
  color: #008891;
}

.main-nav .logo,
.main-nav .logo:visited,
.main-nav .logo:active {
  display: block;
  color: #008891;
}

/* IMAGE GALLERY */

.gallery {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex-wrap: wrap;
  flex-direction: row;
  flex-flow: row wrap;
  max-width: 700px;
}

.gallery .img {
  flex: auto;               /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-flex: auto;
  -ms-flex: auto;
}

.gallery a {
  font-size: 20px;
  display: block;
}

.gallery a,
.gallery a:visited,
.gallery a:active {
  color: #deded4;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-text {
  text-align: center;
  position: absolute;
}

/* triangles, common css */

.plus {
  width: 232px;
  height: 180px;
  overflow: hidden;
  margin: 30px 0 0px 83px;
}


.plus2 {
  width: 232px;
  height: 180px;
  overflow: hidden;
  margin: 200px 0 0px 83px;
}

.plus:hover {
  width: 232px;
  height: 180px;
  display: block;
  z-index: 1;
  background: url("../img/plus.png");
  background-size: 75px;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  overflow: hidden;
  cursor: pointer;
}


.plus2:hover {
  width: 232px;
  height: 180px;
  display: block;
  z-index: 1;
  background: url("../img/plus.png");
  background-size: 75px;
  background-position: center top;
  margin-top: 230px;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
}


#booksearch,
#zengarden,
#todo,
#infographic,
#map,
#game,
#black1,
#black2,
#black3,
#about,
#portfolio,
#contact {
  width: 232px;
  height: 180px;
  overflow: hidden;
  margin-top: 5px;
}

#zengarden_bg:hover,
#booksearch_bg:hover,
#todo_bg:hover,
#infographic_bg:hover,
#map_bg:hover,
#game_bg:hover,
#about_bg:hover,
#portfolio_bg:hover,
#contact_bg:hover {
  background-size: 90%;
  display: block;
  position: absolute;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: all 1s;
  -webkit-transition: all 1s;
  cursor: pointer;
}

#booksearch2,
#zengarden2,
#todo2,
#infographic2,
#map2,
#game2,
#black1_2,
#black2_2,
#black3_2,
#about2,
#portfolio2,
#contact2 {
  position: relative;
  overflow: hidden;
  transform: rotate(45deg) skew(10deg,10deg);
  width: 200px;
  height: 200px;
}

#booksearch_bg,
#zengarden_bg,
#todo_bg,
#infographic_bg,
#map_bg,
#game_bg,
#black1_bg,
#black2_bg,
#black3_bg,
#about_bg,
#portfolio_bg,
#contact_bg {
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  transform: skew(-10deg,-10deg) rotate(-45deg) ;
  transition: 2s;
}

/* Portfolio page */

/* book search */

#booksearch2 {
  margin:81px 0 0 16px;
}

#booksearch_bg {
  background: url("../img/booksearch.png");
  background-size: 100%;
  background-position: center top;
}

/* zen garden */

#zengarden2 {
  margin:-100px 0 0 16px;
}

#zengarden_bg {
  background: url("../img/zengarden1.png");
  background-size: 100%;
  background-position: center top;
}

/* todo */

#todo2 {
  margin:81px 0 0 16px;
}

#todo_bg {
  background: url("../img/todo2.png");
  background-size: 100%;
  background-position: center top;
}

/* infographic */

#infographic2 {
  margin:-100px 0 0 16px;
}

#infographic_bg {
  background: url("../img/infographic.png");
  background-size: 100%;
  background-position: center top;
}

/* map */

#map2 {
  margin:81px 0 0 16px;
}

#map_bg {
  background: url("../img/map.jpg");
  background-size: 100%;
  background-position: center top;
}

/* game */

#game2 {
  margin:-100px 0 0 16px;
}

#game_bg {
  background: url("../img/game.png");
  background-size: 100%;
  background-position: center top;
}

/* Start page */

/* about */

#about2 {
  margin:81px 0 0 16px;
}

#about_bg {
  background: url("../img/Sandra2small.jpg");
  background-size: 80%;
  background-position: center top;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); /* for chrome & safari */
}

/* black 1 */

#black1_2 {
  margin:-100px 0 0 16px;
}

#black1_bg {
  background-color: #008891;
}

/* portfolio */

#portfolio2 {
  margin:81px 0 0 16px;
}

#portfolio_bg {
  background: url("../img/kod.jpg");
  background-size: 80%;
  background-position: center top;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); /* for chrome & safari */
}

/* black 2 */

#black2_2 {
  margin:-100px 0 0 16px;
}

#black2_bg {
  background-color: #008891;
}

/* contact */

#contact2 {
  margin:81px 0 0 16px;
}

#contact_bg {
  background: url("../img/dator.jpg");
  background-size: 75%;
  background-position: center top;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); /* for chrome & safari */
}

/* black 3 */

#black3_2 {
  margin:-100px 0 0 16px;
}

#black3_bg {
  background-color: #008891;
}

section {
  margin: 0;
  padding:0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'bitter';

}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

section p,
section ul {
  margin: 20px;
  font-family: 'bitter';
}



/* FOOTER */

.mastfoot  {
  color: #008891;;
  font-size: 14px;
  text-align: left;
  margin: 130px 0 0px 50px;
}

/********************************************************
Media queries tablet size
************************************************************/
@media screen and (max-width: 992px) {



}


/********************************************************
Media queries mobile size
************************************************************/
@media screen and (max-width: 767px) {

.main-nav .logo {
  font-size: 52px;
  padding: 50px;
}

}