::-webkit-input-placeholder {
    
color: #eee; 
}


form:focus {
    
outline: none; 
    
}


form ul {
    
    list-style: none; 
    with: 500px; 
}


form li { 
    padding: 10px; 
}




form *{
    width: 400px; 
}



form input, form textarea {
    border: 1px solid #aaa;
    border-radius: 10px; 
    box-shadow: 0px 0px 3px #ccc, 0px 0px 100px #eee inset; 
}


form input:focus, form textarea:focus {
    
    background-color: yellow; 
}

/* animations */

form input:focus, form textarea:focus {
padding-right: 70px; 
padding-bottom: 70px; 
}

form input, form textarea {
    transition: padding 1s; 
}



