
/*********************************
General / body
**********************************/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900italic,900,700italic,500italic,400italic,300italic,300);
  

body {
    background-color: #f6ead5;
    font-family: "roboto";
    font-weight: 400; 
    box-sizing: border-box; 
}



/*********************************
Header
**********************************/

header {
    background-color: #4d4d4d;
    border: 15px solid #4d4d4d; 
    
}


/*********************************
Font styling
**********************************/

h1 {
    color: #f6ead5; 
    font-weight: 400;
    font-size: 1.4em;
    margin: 0; 
    
}


h2 {
    color: #4d4d4d;
    font-weight: 400; 
    font-size: 1em;
   
    
}


h3 {
    color: #00a99d;
    font-weight: 400;
    font-size: 0.8em; 
    font-weight: 700; 
    margin: 0;
    padding: 10px; 
    
    }

p {
    color: #4d4d4d;
    font-weight: 400;
    font-size: 0.9em; 
    margin: 0 auto;
    padding: 5px 7% 5px 7%;
    text-align: left;
   

    
    }


h1, h2, h3 {
    text-align: center; 
}

.questionmark {
    color: #f15a24;
    display: inline;
    font-size: 1.5em; 
    margin: 0; 
}





/*********************************
First section text
**********************************/



.temperaturerise {
    color: #f15a24; 
    text-align: center;
    font-size: 1.2em; 
    padding-top: 20px; 
    
}

.degrees {
    color: #f15a24;
    font-weight: 800; 
    text-align: center;
    font-size: 1.2em; 
    
}


.year {
    color: #00a99d;
    text-align: center;
    font-size: 1.3em; 
    font-size: 1.2em; 
    
}


.twodegreesgoal{
    color: #00a99d;
    text-align: center;
    font-weight: 700; 
    font-size: 1.3em; 
    padding-top: 20px; 
}


.twodegrees{
    color: #00a99d;
    font-weight: 900; 
    text-align: center; 
    font-size: 2em; 
    padding-top: 0; 
}





/*********************************
Circle diagram text
**********************************/

.circle-text-container{
    color: #00a99d;
    font-weight: 700;  
    font-size: 1.2em;
    text-align: center;
    padding-top: 280px;
    


}
.circle-text{
    color: #00a99d;
    font-weight: 700;  
    font-size: 1.2em;
    text-align: center;
    


}



.percent-text{
    color: #f15a24;
    font-weight: 700; 
    font-size: 1.5em; 
    display: block; 
}



.buildings{
    
    
}

.buildings span{
    font-size: 1em;
       
}

.production{
       
}

.agriculture{
       
}

.wood, .hectars{
    font-size: 0.8em;
    display: block; 
       
}


.industry{
       
}


.transports{
       
}


.energy{
       
}

.energy span{
       font-size: 1em;
}



/*********************************
Section styling
**********************************/


.third-section {
    height: 33%;
    
}



.second-section {
   
height: 33%;
    }


.third-section {
  height: 33%;

    }


/*********************************
Images
**********************************/
.image-container {
    width: 100%;
    text-align: center;
}


/*********************************
First section
**********************************/
.thermometer-component {
    background-image: url("../img/termometer.png");
    background-size: 67px 200px;
    background-repeat: no-repeat; 
    width: 67px;
    height: 200px;
    position: relative;
    margin: 0 auto;

}

.thermometer-component div {
    background-color: #f15a24;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 16px;
    position: absolute;
    bottom: 50px;
    left: 25px;
}
    


/*********************************
Second section
**********************************/


.circle-container {
    
width: 100%; 
text-align: center; 
position: relative;
margin-top: 70px;


}



.circle {
    width: 200px;
     position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
   z-index: 1;

}



.circle-icon {
  width: 120px;
    height: auto;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: 0;

}





.home {

width: 46px;
height: 77.345px;
top: -12.5px; 
left: -49px;

    

}





.industritorn {
width: 116px;
height: 119.663px;
top: -12px; 
left: 115px;

 

}





.tractor6 {
width: 102px;
height: 114.448px;
top: 105px; 
left: 129px; 

    
}




.industries{
width: 102px;
height: 89.3012px;
top: 133px; 
left: -62px;

    
}



.truck{ 
width: 92px;
height: 80.448px;
top: 83px; 
left: -154px;

}





.industrial26{
width: 100px;
height: 72.016px;
top: 23px; 
left: -147px;

    
}



/*********************************
Third section
**********************************/


.showme {
background-color: #00a99d;
color: white;
border: none;
padding: 10px; 
text-align: center;
margin: 20px auto;
display: block; 
width: 250px;
border-radius: 5px;
}



.third-section-facts {
display: none;
}

.globe-container {
    
overflow:hidden;
margin-top: 30px;
position: relative;
height: 270px; 
display: none;
}



.globe {
width: 100%;
}



.sun {
height:120px; 
width: 50%;

    
}


.sun-arrow {
height: 100px; 
position: absolute; 
z-index: 1;
left: 30px; 
top: 60px; 
width: 50%;
    

    
}



.heat-arrow1 {

height: 130px; 
width: 50%;
position: absolute;
z-index: 1;
left: 100px; 
top: -20px; 
}


.heat-arrow2 {
    
height: 60px; 
width: 50%;
text-align: right;
display: inline;
position: absolute; 
z-index: 1;
left: 120px; 
top: 50px; 
}


/********************************************************
Media queries tablet size
************************************************************/

@media screen and (min-width: 768px) {
    

/*********************************
Font styling
**********************************/

h1 {
  
    font-size: 3.5em;
    
    
}


h2 {

    font-size: 2em;
   
    
}


h3 {
    
    font-size: 1.5em; 
  
    }

p {
  
    font-size: 1.2em; 
   
}


.questionmark {

    font-size: 1.5em; 
    
}



/*********************************
Section styling
**********************************/
.third-section {
    
}



.second-section {
   height: 500px;
    background-image: url("../img/bubble2.svg");
    background-repeat: no-repeat;
    background-position: 60% 60%;
    background-size: 200px;


 

    }


    .third-section {
  

    }


/*********************************
First section text
**********************************/
 .termometer-section {
width: 100%; 
margin: 0 auto;
padding-top: 50px; 

     
    }
    
    .termometer-section::after {
       content:""; 
    display: table; 
     clear:both;     
    }

.termometer-section1 {
    float: left;
    width: 20%;
    margin-left: 20%;
} 
    
.termometer-section2 {
    float: left;
    width: 20%;
}
    
.termometer-section3 {
    float: left;
    width: 20%;
    margin-right: 20%;

}

.termometer {
    text-align:center; 
     
}
   
.temperaturerise {
    padding:0;  
      padding-top: 30px; 
}
    
.twodegreesgoal {
    padding:0;
    padding-top: 50px; 
     
}


        


/*********************************
Second section
**********************************/

.circle-container {
    
width: 50%;
text-align: left; 
position: relative;
margin-top: 70px;



}

 
/*********************************
Circle diagram text
**********************************/
.circle-text-container{
    width: 50%;
    padding-top: 0px;
    float: right;
    margin-right: 40px; 


    


}

.circle-text{


}



.percent-text{
    color: #f15a24;
    font-weight: 700; 
    font-size: 1.5em; 
    display: block; 
    padding: 0;
    margin: 0; 
}




.buildings{
     top: -120px; 
    left: -100px; 
  
}

.buildings span{
    font-size: 1em;
  
  
}

.production{
     top: -100px; 
    left: 300px;
  
} 


.agriculture{
  top: 450px; 
    left: 200px;
  
}


.wood, .hectars{
    font-size: 0.8em;
    display: block; 
       padding: 0; 
}


.industry{
      top: 200px; 
    left: -100px;
  
} 



.transports{
    top: 350px; 
    left: -300px;
  
}   


.energy{
      top: 50px; 
    left: -30px;
  
}
       


.energy span{
       font-size: 1em;
       padding: 0; 
}  

    
/*********************************
Section styling
**********************************/




/*********************************
Third section
**********************************/



.globe-container {
    
overflow:hidden;
margin-top: 30px;
position: relative;
height: 500px; 
}



.globe {
width: 100%;
}



.sun {
height:200px; 
width: 50%;

    
}


.sun-arrow {
height: 200px; 
position: absolute; 
z-index: 1;
left: 50px; 
top: 230px; 
width: 50%;
    

    
}



.heat-arrow1 {

height: 210px; 
width: 50%;
position: absolute;
z-index: 1;
left: 200px; 
top: 50px; 
}


.heat-arrow2 {
    
height: 120px; 
width: 50%;
text-align: right;
display: inline;
position: absolute; 
z-index: 1;
left: 250px; 
top: 200px; 
}


}



/*******************************************************************************************************************
Media queries desktop size
******************************************************************************************************************/


@media screen and (min-width: 992px) {
    
 html {
  background-color: #00a99d; 
}
    
body {
   width: 80%;
    margin: 0 auto; 
}
    
    
p {
    color: #4d4d4d;
    font-weight: 400;
    font-size: 1.2em; 
    margin: 0 auto;
    padding: 5px 17% 5px 17%;
    text-align: center;
   

    
    }
    
    
h2 {
    
    padding-top: 40px;
    
   

    
    }


/****************************************
section styling
***************************************/


 
/*********************************
Circle diagram text
**********************************/
.circle-text-container{
    width: 50%;
    padding-top: 0px;
    float: right;
    margin-right: 200px; 


    


}


/*********************************
Second section
**********************************/

.second-section {
   height: 500px;
    background-image: url("../img/bubble2.svg");
    background-repeat: no-repeat;
    background-position: 55% 70%;
    background-size: 200px;


 

    }
    

/*********************************
Third section
**********************************/



.globe-container {
    
overflow:hidden;
margin-top: 30px;
position: relative;
height: 700px; 
}



.globe {
width: 100%;
}



.sun {
height:200px; 
width: 50%;

    
}


.sun-arrow {
height: 220px; 
position: absolute; 
z-index: 1;
left: 50px; 
top: 230px; 
width: 50%;
    

    
}



.heat-arrow1 {

height: 230px; 
width: 50%;
position: absolute;
z-index: 1;
left: 200px; 
top: 50px; 
}


.heat-arrow2 {
    
height: 140px; 
width: 50%;
text-align: right;
display: inline;
position: absolute; 
z-index: 1;
left: 259px; 
top: 200px; 
}
    
}













