
/*********************************
General / body
**********************************/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900italic,900,700italic,500italic,400italic,300italic,300);
  

body {
    background-color: #f6ead5;
    font-family: "roboto";
    font-weight: 400; 
    box-sizing: border-box; 
}



/*********************************
Header
**********************************/

header {
    background-color: #4d4d4d;
    border: 15px solid #4d4d4d; 
    
}


/*********************************
Font styling
**********************************/

h1 {
    color: #f6ead5; 
    font-weight: 400;
    font-size: 1.4em;
    margin: 0; 
    
}


h2 {
    color: #4d4d4d;
    font-weight: 400; 
    font-size: 1em;
   
    
}


h3 {
    color: #00a99d;
    font-weight: 400;
    font-size: 0.8em; 
    font-weight: 700; 
    margin: 0;
    padding: 10px; 
    
    }

p {
    color: #4d4d4d;
    font-weight: 400;
    font-size: 0.9em; 
    margin: 0 auto;
    padding: 5px 7% 5px 7%;
    text-align: left;
   

    
    }


h1, h2, h3 {
    text-align: center; 
}

.questionmark {
    color: #f15a24;
    display: inline;
    font-size: 1.5em; 
    margin: 0; 
}





/*********************************
First section text
**********************************/



.temperaturerise {
    color: #f15a24; 
    text-align: center;
    font-size: 1.2em; 
    padding-top: 20px; 
    
}

.degrees {
    color: #f15a24;
    font-weight: 800; 
    text-align: center;
    font-size: 1.2em; 
    
}


.year {
    color: #00a99d;
    text-align: center;
    font-size: 1.3em; 
    font-size: 1.2em; 
    
}


.twodegreesgoal{
    color: #00a99d;
    text-align: center;
    font-weight: 700; 
    font-size: 1.3em; 
}


.twodegrees{
    color: #00a99d;
    font-weight: 900; 
    text-align: center; 
    font-size: 2em; 
    
}





/*********************************
Circle diagram text
**********************************/


.circle-text{
    color: #00a99d;
    font-weight: 700;  
    font-size: 1.2em;
    text-align: center;
    


}


.circle-text-paragraph {
    padding-top: 260px;  
}


.percent-text{
    color: #f15a24;
    font-weight: 700; 
    font-size: 1.5em; 
    display: block; 
}



.buildings{
       
}

.buildings span{
    font-size: 1em;
       
}

.production{
       
}

.agriculture{
       
}

.wood, .hectars{
    font-size: 0.8em;
    display: block; 
       
}


.industry{
       
}


.transports{
       
}


.energy{
       
}

.energy span{
       font-size: 1em;
}



/*********************************
Section styling
**********************************/



/*********************************
Images
**********************************/

.image-container {
    
width: 100%; 
text-align: center; 

}

/*********************************
First section
**********************************/

.termometer {
    height: 200px;
    text-align: center;
    margin: 0 auto;
    width: 20%; 
     
}


/*********************************
Second section
**********************************/

.circle-container {
    
width: 100%; 
text-align: center; 
position: relative;
margin-top: 70px; 

}



.circle {
    width: 200px;
     position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;

}



.circle-icon {
    
width: 50px;
position: absolute;
  left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;

}


.home {
top: -35px; 
left: -70px;
-ms-transform: rotate(-15deg); /* IE 9 */
-webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
transform: rotate(-15deg);
    

}


.transmission-tower {
top: -30px; 
left: 70px; 
-ms-transform: rotate(15deg); /* IE 9 */
-webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
transform: rotate(15deg);
    

}


.industritorn {
top: 10px; 
left: 200px;
-ms-transform: rotate(57deg); /* IE 9 */
-webkit-transform: rotate(57deg); /* Chrome, Safari, Opera */
transform: rotate(57deg);
    
 

}


.tree68 {
top: 120px; 
left: 220px;
-ms-transform: rotate(118deg); /* IE 9 */
-webkit-transform: rotate(118deg); /* Chrome, Safari, Opera */
transform: rotate(118deg);
    
}


.tractor6 {
top: 170px; 
left: 130px; 
-ms-transform: rotate(145deg); /* IE 9 */
-webkit-transform: rotate(145deg); /* Chrome, Safari, Opera */
transform: rotate(145deg);
    
}


.industries{
width: 70px; 
top: 170px; 
left: -100px;
-ms-transform: rotate(205deg); /* IE 9 */
-webkit-transform: rotate(205deg); /* Chrome, Safari, Opera */
transform: rotate(205deg);
    
}


.truck{ 
top: 100px; 
left: -220px;
-ms-transform: rotate(255deg); /* IE 9 */
-webkit-transform: rotate(255deg); /* Chrome, Safari, Opera */
transform: rotate(255deg);
}



.industrial26{
width: 70px; 
top: 0px; 
left: -200px;
-ms-transform: rotate(305deg); /* IE 9 */
-webkit-transform: rotate(305deg); /* Chrome, Safari, Opera */
transform: rotate(305deg);
    
}



/*********************************
Third section
**********************************/



.globe-container {
    
overflow:hidden;
margin-top: 30px;
position: relative;
height: 270px; 
}



.globe {
width: 100%;




}



.sun {
height: 100px; 
width: 50%;

    
}


.sun-arrow {
height: 100px; 
width: 50%;
position: absolute; 
z-index: 1;
left: 30px; 
top: 60px; 
    

    
}



.heat-arrow1 {

height: 100px; 
width: 50%;
position: absolute;
z-index: 1;
left: 80px; 
top: 30px; 
}


.heat-arrow2 {
    
height: 50px; 
width: 50%;
text-align: right;
display: inline;
position: absolute; 
z-index: 1;
left: 95px; 
top: 80px; 
}





























