/*********************************
Heading styling
**********************************/

h1 { 
    font-size: 3.5em; 
    color: #d5764b; 
    -webkit-transform: rotate(-25deg);
    border-bottom-style: solid;
    border-color: #eeac48;
    border-width: 5px;
    margin-top: 200px; 
    position: fixed;    
  
}


h2 { 
    font-size: 2.25em; 
    color: #51631d; 
    -webkit-transform: rotate(-25deg);
    margin-top: 270px; 
    margin-left: 31px; 
   position: fixed;  

}


header {
    
    margin-top: -200px; 
    
    position: fixed; 
    
}


h3 { 
    font-size: 1em; 
    color: #51631d; 


}


p { 
    font-size: 0.7em; 
    color: #51631d; 

}


#zen-summary p { 
    font-size: 1em; 
    color: #eeac48; 
    font-weight: ; 
    -webkit-transform: rotate(-25deg);
    margin-left: ; 
   

}

#zen-summary { 
    
    width: 470px;
    position: fixed;   


    

}

#zen-summary p:first-child {
    
    margin-top: 115px ; 
    margin-left: 64px;
      
}



/*********************************
#preamble
**********************************/


#zen-preamble {
     
    height: 190px;
    margin-left: 40% ; 
    margin-top: 5%; 
  
        
    }


/*********************************
#zen-supporting
**********************************/


#zen-supporting {
    
    height: 208px;
     margin-left: 40%; 
    margin-top: %;
   
}


/*********************************
#zen-participation
**********************************/

#zen-participation {
    
    height: 260px;
     margin-left: 102%; 
    margin-top: -202%; 
    
}


/*********************************
#zen-benefits
**********************************/



#zen-benefits {
    
    height: 115px;
    margin-left: 102%;   
   
}


/*********************************
#zen-requirements
**********************************/


#zen-requirements {
    
    height: 405px;
     margin-left: 102%; 
    

   
    
}





/*********************************
All Article-boxes
**********************************/




#zen-requirements, #zen-benefits, #zen-participation,#zen-supporting, #zen-preamble {
    
     background-color: rgba(81, 99, 29, 0.4);
     border-radius:1%;
     width: 330px;
    
}


#zen-requirements p, #zen-benefits p, #zen-participation p,#zen-supporting p, #zen-preamble p {
    
    margin: 2%; 
    padding-right: 3%;  
    padding-left: 3%;  
    
}


#zen-requirements h3, #zen-benefits h3, #zen-participation h3, #zen-supporting h3, #zen-preamble h3 {
    
    margin: 2%; 
    padding-right: 3%;  
    padding-left: 3%; 
    padding-top: 3%;
    
    }
    

/*********************************
Body
**********************************/
    
#css-zen-garden {
    
    width:100%; 
    height:100%;
}
    


    
    
    
    












