
@import url(https://fonts.googleapis.com/css?family=Satisfy|Monoton);



/*********************************
Body
**********************************/

html {
    background-image: url(img/poker.jpg); 
    background-repeat: no-repeat; 
  
}

#css-zen-garden {
   background-color: darkgreen; 
    width: 1100px; 
    margin: 0 auto;
    padding: 10px 30px;    
}



/*********************************
Header
**********************************/

header {
    width: 700px; 
    height: 350px; 
    background-image: url(img/casinoskylt.png); 
    background-repeat: no-repeat; 
    background-size: 700px; 
    margin: 0 auto; 
    margin-left: 150px; 
    text-align: center; 
    position: absolute; 
    z-index: 2; 

}


header h1 { 
    
    font-family: "satisfy"; 
     color: darkblue; 
    font-size: 40px; 
    padding-top: 85px; 
    margin: 0 auto; 
     text-align: center; 
  }
    


header h2 { 
    
    font-family: "monoton"; 
    color: darkred; 
    font-size: 40px; 
     margin: 0 auto; 
     text-align: center;   
}




/*********************************
Summary
**********************************/


.summary {
    
    background-color: darkred; 
    font-family: "satisfy"; 
    margin: 0 auto; 
    text-align: center; 
    width: 1050px;
    padding: 0.5px; 
    color: white; 
    font-size: 20px; 
    border-radius: 50px; 
    border-color: white; 
    border-width: 10px;
    border-style: double;  
     position: absolute; 
    z-index: 1; 
    margin-top: 320px; 
}



/*********************************
Articles
**********************************/


#zen-preamble, #zen-supporting, #zen-participation, #zen-benefits, #zen-requirements {

    font-family: "sans serif"; 
    margin: 0 auto;
    width: 1100px;
    padding: 3px;
    color: white; 
    font-size: 13px;
  
}




#zen-preamble p, #zen-supporting p, #zen-participation p, #zen-benefits p, #zen-requirements p {



}


#zen-preamble h3, #zen-supporting h3, #zen-participation h3, #zen-benefits h3, #zen-requirements h3 {


}



















    



    
    
    
    












