body {
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;
}

.container {
  display: block;
  width: 500px;
  margin: 100px auto;
  background-color: #D299CD;
  background: url("../img/data.jpg");
  border-radius: 10px;
  padding: 30px;
}

header {
  color: #A760A1;
  color: white;
  margin-bottom: 20px;
}

/* Buttons */

.btn-default {
  background: rgba(255, 255, 255, 0.8); 
  border: none;
  margin-left: 10px;
  margin-top: -2px;
  border-radius: 5px;

}

.btn-default.new-task-button {
  margin-left: 0px;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
  background-color: white;
}

/* Ul, Li*/

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 10px 0;
}

/* Input */

input[type="text"] {
  outline: none;
  border: none;
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
 

}

input[type="checkbox"] {
  outline: none;
  border: none;
  border-radius: 3px;
  margin: 0 10px;
  padding: 0;
  background: white;
}

label {
  width: 200px;
}

label.new-task {
  width: auto;
  color: white;
  margin-left: 15px;
}

/* Font styling*/

h3 {
  color: #333333;
  background: rgba(255, 255, 255, 0.8); 
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  margin: 10px;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

/* Completed */
#completed-tasks label {
  text-decoration: line-through;
 }

 /* Edit Task */
ul li input[type=text] {
  display:none;
}

ul li.editMode input[type=text] {
  display:inline-block;
  width: 200px;
  margin: 0; 
}

ul li.editMode label {
  display:none;
}


/********************************************************
Media queries mobile size
************************************************************/
@media screen and (max-width: 767px) {


h3 {
  color: #333333;
  background: rgba(255, 255, 255, 0.8); 
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  margin: 10px 0px;
}


.container {
  display: block;
  width: 300px;
  margin: 50px auto;
  background-color: #D299CD;
  border-radius: 10px;
  padding: 20px;
}

label {
  width: 130px;
}

ul li.editMode input[type=text] {
  display:inline-block;
  width: 130px;
 
}

#new-task {
  margin: 0;
  width: 210px;
}

.btn-default.new-task-button {
  margin-left: 10px;
}

}



