
/*********************************
General
**********************************/

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700|Sail|Lobster+Two:400,400italic,700,700italic);
  

html {
    background-color: #4f8b8e; 
    
    
}



#css-zen-garden {

    background-image: url(img/fisk.png),url(img/fagel.png),url(img/orm.png), url(img/bakgrund.jpg);
    background-position: 10px 770px,770px 1240px,-50px 245px, center ;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 240px, 220px,350px, 2000px; 
    
    margin: 5% auto; 
    width: 1000px; 
    height: 1400px; 
    border: 15px solid #2c1608; 
   
}




/*********************************
Header
**********************************/


header {
      
}

header h1 { 
    font-family: "sail"; 
    font-size: 6em; 
    color: #4f8b8e; 
    margin: 20px 50px 0px 100px; 
 
}

header h2 {
    font-family: "lobster two";
    font-size: 4em; 
    color: #482833; 
    margin: 0px 50px 0px 100px; 
  
}


/*********************************
Summary
**********************************/

.summary {
    
    
    font-family: "Open Sans Condensed";
    font-size: 1.3em; 
    color: #9a270c; 
    margin: 10px 10px 0px 30px;  
    width: 620px; 
    height:115px; 
    font-weight: normal; 
    padding-right: 150px; 
    
    background-image: url(img/apa.png);
    background-size: 170px;  
    background-repeat: no-repeat;
    overflow: visible; 
    background-position: right top; 
    
    
}


.summary p {
    
    
    margin: 0px 0px 0px 0px;   
    display: inline; 
}


/*********************************
Article boxes 
**********************************/



#zen-requirements p, #zen-benefits p, #zen-participation p,#zen-supporting p, #zen-preamble p {
    
    font-family: "Open Sans Condensed";
    font-size: 0.9em; 
    color: white; 
    margin: 0px 0px 0px 0px;
    padding: 15px 15px 3px 15px; 

}


#zen-requirements h3, #zen-benefits h3, #zen-participation h3, #zen-supporting h3, #zen-preamble h3 {
    
    font-family: "sail"; 
    font-size: 1.1em; 
    color: white; 
    margin: 0px 0px 0px 0px; 
    padding: 15px 0 0 15px; 

    
    }


#zen-requirements {
    
    background-color: #eeac48; 
    width: 350px; 
    height: 640px;
    float: left; 
    margin-top: 10px; 
    
}


#zen-requirements p {
    
color: black; 
    
}

#zen-requirements h3 {
    
color: black; 
    
}


#zen-benefits {
    
    background-color: #482833; 
    width: 350px;
    height: 220px; 
    float: left; 
    margin-left: -350px;
    margin-top: 410px; 
    padding-top: 20px
}


#zen-participation {
    
    background-color: #9a270c; 
    width: 350px; 
    height: 400px; 
    float: left; 
    margin-left: -350px; 
    margin-top: 10px; 
    

}



#zen-supporting {
    
    background-color: #482833; 
    width: 350px; 
    height: 310px; 
    float: left; 
}


#zen-preamble {
    
    background-color: #4f8b8e; 
    width: 350px;
    height: 310px; 
    float: left; 
    margin-left: 100px; 
   
}







/*********************************
Sidebar
**********************************/


.sidebar {
    
    background-color: #9a270c; 
    height: 850px; 
    width: 160px; 
    font-family: "Open Sans Condensed";  
    color: white; 
    float: right; 
    margin-top:-100px; 
    text-align: center; 
     
}



.sidebar h3 {
    
font-family: "lobster two"; 
    
}



.sidebar a {
    
text-decoration: none;  
color: white;
font-weight: normal; 
    
}


.sidebar a:hover {
    
text-decoration: none;  
color: black;
font-weight: normal; 
    
}


.sidebar a:visited {
    
text-decoration: none;  
color: black;
font-weight: normal; 
    
}

.sidebar ul {
    
list-style: none; 
margin: 0 auto;
padding: 10px;
font-size: 0.9em; 
    
}

.sidebar ul li {
    
list-style: none; 
margin: 0 auto;
padding: 5px;
font-size: 1em; 
    
}





/*********************************
Footer
**********************************/

footer {
    font-family: "lobster two";
    font-size: 1.5em; 
    margin-top: 700px ; 
    margin-left: -185px; 
    background-image: url(img/orm.png), url(img/orm2.png);
    background-position: right, left;
    background-repeat: no-repeat, no-repeat; 
    background-size: 120px, 120px;  
    width: 450px; 
    height:40px; 
    text-align: center;
  
}


footer a:link {
    
text-decoration: none; 
color: black; 
font-weight: bold; 
    
}


footer a:hover {
    
text-decoration: none; 
color: #4f8b8e; 
font-weight: bold; 
    
}


footer a:visited {
    
text-decoration: none; 
color: #9a270c; 
font-weight: bold; 
    
}





/*********************************
Links
**********************************/

   
   


 #zen-requirements a {
    
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
    
    
    }


 #zen-requirements a:hover {
    
    color: #9a270c; 
    font-weight: bold; 
    
    
    }


 #zen-requirements a:visited {
    
    text-decoration: none; 
    color: #9a270c; 
    font-weight: bold; 
    
    
    }



#zen-participation a  {
    
    text-decoration: none; 
    color: white; 
    font-weight: bold; 
    
    
    }



#zen-participation a:hover {
    
    color: black; 
    font-weight: bold; 
    
    
    }


#zen-participation a:visited {
    
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
    
    
    }




.summary a  {
    
    font-family: "lobster two";
    text-decoration: none; 
    color: #9a270c; 
    font-weight: bold; 
    
    
    }



.summary a:hover {
    
    color: black; 
    font-weight: bold; 
    
    
    }


.summary a:visited {
    
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
    
    
    }

   


   





    




















    



    
    
    
    












