
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700|Sail|Lobster+Two:400,400italic,700,700italic);
  

html {
    background-color: #4f8b8e; 
    
    
}



#css-zen-garden {
    background-image: url(img/bakgrund.jpg); 
    background-repeat: no-repeat; 
    margin: 5% auto; 
    width: 1000px; 
    height: 1400px; 
    border: 15px solid #2c1608; 
   
}




/*********************************
Header
**********************************/


header {
      
}

header h1 { 
    font-family: "sail"; 
    font-size: 6em; 
    color: #4f8b8e; 
    margin: 20px 50px 0px 100px; 
 
}

header h2 {
    font-family: "lobster two";
    font-size: 4em; 
    color: #482833; 
    margin: 0px 50px 0px 100px; 
  
}


/*********************************
Summary
**********************************/

.summary {
    
    
    font-family: "Open Sans Condensed";
    font-size: 1.3em; 
    color: #9a270c; 
    margin: 10px 10px 80px 30px;  
    width: 600px; 
    font-weight: normal; 
}


.summary p {
    
    
    margin: 0px 0px 0px 0px;   
    display: inline; 
}


/*********************************
Article boxes 
**********************************/



#zen-requirements p, #zen-benefits p, #zen-participation p,#zen-supporting p, #zen-preamble p {
    
    font-family: "Open Sans Condensed";
    font-size: 0.9em; 
    color: white; 
    margin: 0px 0px 0px 0px;
    padding: 15px 15px 3px 15px; 

}


#zen-requirements h3, #zen-benefits h3, #zen-participation h3, #zen-supporting h3, #zen-preamble h3 {
    
    font-family: "sail"; 
    font-size: 1em; 
    color: white; 
    margin: 0px 0px 0px 0px; 
    padding: 15px 0 0 15px; 

    
    }


#zen-requirements {
    
    background-color: #eeac48; 
    width: 350px; 
    height: 640px;
    float: left; 
    margin-top: 10px; 
    
}


#zen-requirements p {
    
color: black; 
    
}

#zen-requirements h3 {
    
color: black; 
    
}


#zen-benefits {
    
    background-color: #482833; 
    width: 350px;
    height: 220px; 
    float: left; 
    margin-left: -350px;
    margin-top: 410px; 
    padding-top: 20px
}


#zen-participation {
    
    background-color: #9a270c; 
    width: 350px; 
    height: 400px; 
    float: left; 
    margin-left: -350px; 
    margin-top: 10px; 
    

}

#zen-supporting {
    
    background-color: #482833; 
    width: 350px; 
    height: 310px; 
    float: left; 

}


#zen-preamble {
    
    background-color: #4f8b8e;
    width: 350px;
    height: 310px; 
    float: left; 
    margin-left: 100px; 
   

}


.sidebar {
    
    background-color: #9a270c; 
    height: 600px; 
    width: 160px; 
    font-family: "Open Sans Condensed"; 
    color: white; 
    float: right; 
    margin-top: ; 
 

     
}



/*********************************
Sidebar
**********************************/


.sidebar h3 {
    
font-family: "lobster two"; 
    
}




/*********************************
Footer
**********************************/

footer {
font-family: "lobster two";
font-size: 2em; 
margin: 700px -25% 0; 
  
}


footer a:link {
    
text-decoration: none; 
color: black; 
font-weight: bold; 
    
}
   
   




   


   





    




















    



    
    
    
    












