
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700|Sail|Lobster+Two:400,400italic,700,700italic);
  

#css-zen-garden {
    background-image: url(img/bakgrund.jpg) 
}




/*********************************
Header
**********************************/


header {
      
}

header h1 { 
    font-family: "sail"; 
 
}

header h2 {
    font-family: "lobster two";
  
}


/*********************************
Summary
**********************************/

.summary {
    
    
    font-family: "Open Sans Condensed";

    
}



/*********************************
Article boxes 
**********************************/

   





    




















    



    
    
    
    












