




.page-wrapper {
    
    background-color: #ffb4c0; 
    width: 700px; 
    margin: 0 auto; 

}



/*********************************
Heading styling
**********************************/

h1 { 
    
    font-size: 40px; 
  
}


h2 { 
    
    font-size: 60px; 
  
   
}



h3 { 
    
    
    font-size: 20px;
   
}


p { 
    

}












    



    
    
    
    












