
/* Font	*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300,100italic,100|Lobster);


/* General	*/
body {
	font-family: 'lato', sans-serif;
	background-color: white;
	color: #2c3e50;
	width: 100%;
}



/* Font styling	*/

h1 {
	font-size: 30px;
	font-weight: 700;
}

h2 {
	font-size: 18px;
	color:  white;
}

h3 {
	font-size: 12px;
	color:  white;
}

h4 {
	font-size: 9px;
	color:  white;
}
p {
	font-size: 13px;
	
}


/* Logo and navigation	*/

.glyphicon-menu-down {
	padding-left: 20px;
	padding-top: 10px;
	font-size: 25px;
}


.main-header {
	margin-top: 5px;
}

.logo {
	height: 60px; 
	margin-bottom: -4px;	
}

.logo-text {
	font-size: 26px;
	padding-top: 10px;
	margin: 0; 


}

.thinner {
	font-weight: 300;
}


.cart {
	height: 50px;



}


.menu-header {
	background-color: #2c3e50;
	height: 70px;
}

.promotion-text {
	line-height: 20px;
	margin: 15px 0;
	font-style: italic;
	font-size: 14px;
}


.glyphicon-menu-hamburger {
	color: white;
	font-size: 33px;
	padding-top: 10px;
}


.menu-text {
	font-size: 10px;
	margin: 0;
	 
}

/* search and category boxes*/

.search-box, .category-box {
	margin-top: 20px;
}

#basic-addon1, #basic-addon2, #basic-addon3  {
	background-color: #2c3e50;
}



.glyphicon-search, .glyphicon-triangle-bottom {
	color: white;
}


/* Banner box */

.banner-title {
	color: #2c3e50;
	font-family: lobster, cursive;
}

.banner-image {
	width: 215px;
}

.glyphicon-menu-right,.glyphicon-menu-left {
	color: #2c3e50;
	font-size: 25px;
	margin-top: 30px;
}


.glyphicon-menu-left {
	padding-right: 0;
}

.glyphicon-menu-right {
	padding-left: 0;
}

.glyphicon-option-horizontal {
	margin-top: 10px;
	font-size: 40px;
	color: #2c3e50;
}



/* Popular section */



.popular-title {
	color: #2c3e50;
	font-weight: 700;
	margin-top: 0;
}

.books-div {
 	margin-bottom: 10px;
}

.bok1, .bok2, .bok3, .bok4 {
	width: 80px;
	padding-right: 5px;
	
}


.compareprice-btn, .cart-btn {
	padding: 4px;
	margin-top: 5px;
}

.cart-btn {
	background-color: #2c3e50;
	color: white;
}

.book-title {
	font-weight: 700;
}

.cart-white {
	width: 15px;
	margin-left: 3px;
	margin-bottom: 3px;
}

/* Footer */

.footer {
	margin: 20px 0 10px 0;
	text-align: center;
	color: black;
	font-size: 12px;
}

/* Media Queries Desktop */

@media screen and (min-width: 992px) {

	/* Logo and navigation	*/

	.glyphicon-menu-hamburger, .menu-text, .search-box, .category-box {
		display: none;
	}


	.main-header {
		margin-top: 15px;
	}

	.logo {
		height: 100px; 
		margin-bottom: -4px;	
	}

	.logo-text {
		font-size: 40px;
		padding-top: 20px;
		margin: 0; 
	}


	.cart {
		height: 80px;
	}

	.nav-links{
		color: white;
		font-size: 20px;
	}

	.nav > li > a {
		border: none;
	}

	.nav > li > a:hover, .nav > li > a:focus {
		color: white;
		background-color: #2c3e50;
		border: none;
	}


	.nav {
		border: none;
		padding: 17px;
	}

	.menu-header {
		background-color: #2c3e50;
		height: 85px;
	}

	.search-box-desktop {
		padding-top: 10px;
	}


	.promotion-text {
		display: none;
	}

	.promotion-text-desktop {
			color: #2c3e50;
			font-style: italic;
			font-size: 24px ;
			padding-top: 10px;
		}


/* Main content	*/


	.categories-heading {
		color: #2c3e50;
		margin-top: 0;
	}

	.category-text {
		color: #2c3e50;
	}

	.content-div {
		margin-top: 40px;
	}



	/* Banner box */

	.banner-title {
		font-size: 24px;
		margin-top: 0;
	}

	.banner-image {
		width: 320px;
	}

	.glyphicon-menu-right,.glyphicon-menu-left {
		font-size: 25px;
		margin-top: 100px;
	}


	.glyphicon-menu-left {
		padding-right: 0;
	}

	.glyphicon-menu-right {
		padding-left: 0;
	}

	.glyphicon-option-horizontal {
		margin-top: 10px;
		font-size: 40px;
	}

	
	/* category section*/

	.category-section {
		padding-left: 50px;
	}

	.categories-heading {
		font-weight: 700;
	}

	.category-text {
		font-weight: 700;
		color: #2980b9;
		font-size: 14px;
		margin: 5px 0 5px 0;
		line-height: 15px;
	}

	label {
		color: white;
}


}



/* Media Queries Mobile */

@media screen and (max-width: 992px) {
	.promotion-text-desktop, .nav, .categories-heading, .category-text, .search-box-desktop, .arrow-div1 {
		display: none;
	}
}